/*
Variables.
==================================================
*/

:root {
  --rough-box-radius-odd:
    255px 15px 255px 15px
    /
    15px 255px 15px 255px
  ;

  --rough-box-radius-even:
    15px 255px 15px 255px
    /
    255px 15px 255px 15px
  ;

  --rough-input-radius-odd:
    15px 30px 15px 30px
    /
    30px 15px 30px 15px
  ;

  --rough-input-radius-even:
    30px 15px 30px 15px
    /
    15px 30px 15px 30px
  ;
}

/*
Set defaults.
==================================================
*/

* {
  font-family: Pangolin, cursive;
}

/*
Body styles.
==================================================
*/

body {
  font-size: 1.7rem;
}

/*
Horizontal rule.
==================================================
*/

hr {
  border-top-style: dashed;
  border-top-width: 2px;
}

/*
Blockquote.
==================================================
*/

blockquote {
  border-left-style: dashed;
}

/*
Code blocks.
==================================================
*/

pre {
  border: 2px dotted #fff;

  border-radius:
    var(--rough-input-radius-odd);

  margin-top: -2px;
  margin-left: -2px;
  margin-right: -2px;

  position: relative;
  bottom: -2px;
}

:nth-child(even) > pre {
  border-radius:
    var(--rough-input-radius-even);
}

/*
Tables.
==================================================
*/

td {
  border-top-width: 2px;
  border-top-style: dashed;
}

/*
Buttons.
==================================================
*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-radius:
    var(--rough-input-radius-odd);
}

:nth-child(even) > button,
:nth-child(even) > input[type="button"],
:nth-child(even) > input[type="reset"],
:nth-child(even) > input[type="submit"] {
  border-radius:
    var(--rough-input-radius-even);
}

/*
Inputs.
==================================================
*/

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  border-color: #999;
  border-width: 2px;

  border-radius:
    var(--rough-input-radius-odd);
}

:nth-child(even) > input[type="date"],
:nth-child(even) > input[type="datetime"],
:nth-child(even) > input[type="datetime-local"],
:nth-child(even) > input[type="email"],
:nth-child(even) > input[type="month"],
:nth-child(even) > input[type="number"]
:nth-child(even) > input[type="password"],
:nth-child(even) > input[type="search"],
:nth-child(even) > input[type="tel"],
:nth-child(even) > input[type="text"],
:nth-child(even) > input[type="time"],
:nth-child(even) > input[type="url"],
:nth-child(even) > input[type="week"],
:nth-child(even) > select,
:nth-child(even) > textarea {
  border-radius:
    var(--rough-input-radius-even);
}

/*
Radios & Checkboxes.
==================================================
*/

/* Only works in Webkit. */
@media (-webkit-min-device-pixel-ratio: 0) {
  label input[type="checkbox"],
  label input[type="radio"] {
    -webkit-appearance: none;

    border: 2px solid #333;

    width: 20px;
    height: 20px;

    transform: rotate(3deg);
  }

  :nth-child(even) > label input[type="checkbox"],
  :nth-child(even) > label input[type="radio"] {
    transform: rotate(-3deg);
  }

  label input[type="radio"] {
    border-radius: 8px 9px 8px 9px;
  }

  label input[type="checkbox"]:checked,
  label input[type="radio"]:checked {
    background: #f0f;
    box-shadow: inset 0 0 0 3px #fff;
  }
}

/*
Fieldset.
==================================================
*/

fieldset {
  border-width: 2px;
}

fieldset {
  border-radius:
    var(--rough-box-radius-odd);
}

fieldset:nth-child(even) {
  border-radius:
    var(--rough-box-radius-even);
}