/*
"Box" level elements.
==================================================*/

article,
aside,
figure,
figcaption,
footer,
form,
header,
main,
nav,
section {
  border: 1px dashed #ccc;
  position: relative;

  padding-top: var(--spacing);
  padding-left: var(--spacing);
  padding-right: var(--spacing);

  margin-bottom: var(--spacing);
}

article::before,
article::after,
aside::before,
aside::after,
figure::before,
figure::after,
figcaption::before,
figcaption::after,
footer::before,
footer::after,
form::before,
form::after,
header::before,
header::after,
main::before,
main::after,
nav::before,
nav::after,
section::before,
section::after {
  color: #f0f;
  font-family: "Courier", monospace;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  position: absolute;
}

article::before,
aside::before,
figure::before,
figcaption::before,
footer::before,
form::before,
header::before,
main::before,
nav::before,
section::before {
  top: 0;
  left: 3px;
}

article::after,
aside::after,
figure::after,
figcaption::after,
footer::after,
form::after,
header::after,
main::after,
nav::after,
section::after {
  bottom: 2px;
  right: 2px;
}

/*
==============
BOXES: BEFORE.
==============
*/

article::before {
  content: "article";
}

aside::before {
  content: "aside";
}

figure::before {
  content: "figure";
}

figcaption::before {
  content: "figcaption";
}

footer::before {
  content: "footer";
}

form::before {
  content: "form";
}

header::before {
  content: "header";
}

main::before {
  content: "main";
}

nav::before {
  content: "nav";
}

section::before {
  content: "section";
}

/*
=============
BOXES: AFTER.
=============
*/

article::after {
  content: "/article";
}

aside::after {
  content: "/aside";
}

figure::after {
  content: "/figure";
}

figcaption::after {
  content: "/figcaption";
}

footer::after {
  content: "/footer";
}

form::after {
  content: "/form";
}

header::after {
  content: "/header";
}

main::after {
  content: "/main";
}

nav::after {
  content: "/nav";
}

section::after {
  content: "/section";
}

/*
Figure.
==================================================*/

figure img {
  margin-bottom: var(--spacing);
}