/*
Set default sans-serif.
==================================================*/

* {
  font-family: sans-serif;
}

/*
Spacing.
==================================================*/

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin: 0;
  margin-bottom: 1.5rem;
}

/*
Links.
==================================================*/

a:not([class]) {
  color: #00f;
  text-decoration: none;
}

a:not([class]):hover {
  text-decoration: underline;
}

/*
Disabled state.
==================================================*/

[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

/*
Pointer cursor.
==================================================*/

a:not([disabled]),
button:not([disabled]),
input[type="button"]:not([disabled]),
input[type="reset"]:not([disabled]),
input[type="submit"]:not([disabled]) {
  cursor: pointer;
}

/*
Images.
==================================================*/

img {
  max-width: 100%;
}

figure img {
  display: block;
  margin-bottom: 1.5rem;
  width: 100%;
}

/*
Body styles.
==================================================*/

html {
  background: #fff;
  color: #333;
}

body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  line-height: 1.5;

  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/*
Horizontal rule.
==================================================*/

hr {
  border: 0;
  border-top: 1px solid #ccc;
}

/*
"Box" level elements.
==================================================*/

article,
figure,
figcaption,
footer,
form,
header,
main,
nav,
section {
  border: 1px solid #ccc;
  position: relative;

  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  margin-bottom: 1.5rem;
}

article::before,
figure::before,
figcaption::before,
footer::before,
form::before,
header::before,
main::before,
nav::before,
section::before {
  color: #ccc;
  font-size: 9px;
  letter-spacing: 1px;
  padding-left: 3px;
  text-transform: uppercase;

  position: absolute;
  top: 0;
  left: 0;
}

article::before {
  content: "article";
}

figure::before {
  content: "figure";
}

figcaption::before {
  content: "figcaption";
}

footer::before {
  content: "footer";
}

form::before {
  content: "form";
}

header::before {
  content: "header";
}

main::before {
  content: "main";
}

nav::before {
  content: "nav";
}

section::before {
  content: "section";
}

/*
Header: Nav.
==================================================*/

header nav > ul,
header nav > ul > li {
  margin: 0;
  padding: 0;
}

header nav > ul {
  font-size: 0;
  margin-bottom: 1.5rem;
}

header nav ul > li {
  display: inline-block;
  font-size: 1rem;
}

header nav ul > li + li {
  border-left: 1px solid #ccc;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

/*
Headings.
==================================================*/

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

/*
Blockquote.
==================================================*/

blockquote {
  border-left: 5px solid #eee;
  margin: 0;
  padding-left: 1.5rem;
  position: relative;
}

blockquote::before,
blockquote::after {
  content: "";
  background: #eee;

  width: 5px;
  height: 5px;

  position: absolute;
  left: 0;
}

blockquote::before {
  top: 0;
}

blockquote::after {
  bottom: 0;
}

/*
Tables.
==================================================*/

table {
  width: 100%;
}

th,
td {
  padding: 0.5rem 0.25rem;
  text-align: left;
  vertical-align: top;
}

td {
  border-top: 1px solid #ccc;
}

/*
Form elements.
==================================================*/

button,
input,
select,
textarea {
  color: inherit;
}

/* Buttons. */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
/* Inputs. */
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

/*
Buttons.
==================================================*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: #666;
  border: 0;
  color: #fff;
  padding: 0.5rem 1rem;
}

/*
Inputs.
==================================================*/

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  background-color: #fff;
  border: 1px solid #333;
  height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
}

input[disabled][type="date"],
input[disabled][type="datetime"],
input[disabled][type="datetime-local"],
input[disabled][type="email"],
input[disabled][type="month"],
input[disabled][type="number"],
input[disabled][type="password"],
input[disabled][type="search"],
input[disabled][type="tel"],
input[disabled][type="text"],
input[disabled][type="time"],
input[disabled][type="url"],
input[disabled][type="week"],
select[disabled],
textarea[disabled] {
  background-color: #eee;
}

select {
  background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
  background-repeat: no-repeat;
  background-position: right center;
}

textarea {
  min-height: 4rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

/*
Radios & Checkboxes.
==================================================*/

label input[type="checkbox"],
label input[type="radio"] {
  margin-right: 0.25rem;
}

/*
Fieldset.
==================================================*/

fieldset {
  border: 1px solid #ccc;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0;
}

legend {
  margin-left: -0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}