/*
If disallowing `class="…"`.
==================================================*/

[class] {
  outline: 2px solid red;
}

/*
Flag "invalid" markup.
==================================================*/

img:not([alt]),
label:not([for]) {
  outline: 2px solid red;
}